.shadowHover:hover {
    box-shadow: 0 0 5px 5px  rgba(35, 44, 51, 0.4);
}

.hoverReveal:hover > .hoverInfoContainer {
    visibility: visible;
}

.hoverInfoContainer {
    visibility: hidden;
    background-color: rgba(35, 44, 51, 0.8);
    border: 3px solid rgb(243, 167, 18);

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.hoverInfoContainer > p {
    color:rgb(243, 167, 18);
    margin: 0.25rem;
}