* {
    margin: 0;
    padding: 0;
  }

html {
    font-size: 62.5%;
}

/* COLOR Palette
Tufts Blue: #5089C6 rgb(80, 137, 198)
Marigold: #f3a712 rgb(243, 167, 18)
White: #FFFFFF rgb(255, 255, 255)
Firey Rose: #f56476 rgb(245, 100, 118)
Russian Green: #739e82 rgb(115, 158, 130)
Gunmetal: #232c33 rgb(35, 44, 51)
*/