* {
    margin: 0;
    padding: 0;
  }

body {
    font-size: 62.5%;
    background: #FFFFFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5089C6, #739e82);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5089C6, #739e82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* COLOR Palette
Tufts Blue: #5089C6
Marigold: #f3a712
White: #FFFFFF
Firey Rose: #f56476
Russian Green: #739e82
Gunmetal: #232c33
*/